## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!
# Student name: Brian O'Donnell
# Student pace: Flex-Part Time
# Scheduled project review date/time: 12 January 2022
# Instructor name: Abhineet Kulkarni
# Blog post URL:

In [6]:
# Factors taken into consideration:
    #ROI, RATING, Genre, marketing, distribution, actor/director, season, run time, overall budget

In [61]:

import json
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests
%matplotlib inline

In [67]:
# Pull up box office mojo csv file to look up gross incomes
bom_df = pd.read_csv('/Users/natashawyatt/Documents/Flatiron_school/Phase_1/Phase_1_Project/dsc-phase-1-project-v2-3/zippedData/bom.movie_gross.csv.gz')
bom_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.00,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.00,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.00,664300000,2010
3,Inception,WB,292600000.00,535700000,2010
4,Shrek Forever After,P/DW,238700000.00,513900000,2010

In [8]:
bom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [14]:
bom_df['studio'].value_counts().head(10)

IFC      166
Uni.     147
WB       140
Magn.    136
Fox      136
SPC      123
Sony     110
BV       106
LGF      103
Par.     101
Name: studio, dtype: int64

In [62]:
bom_df['domestic_gross'].describe()

count        3359.00
mean     28745845.07
std      66982498.24
min           100.00
25%        120000.00
50%       1400000.00
75%      27900000.00
max     936700000.00
Name: domestic_gross, dtype: float64

In [41]:
# Looking up the numbers data for more gross income, also shows production budget and release date
tn_df = pd.read_csv('/Users/natashawyatt/Documents/Flatiron_school/Phase_1/Phase_1_Project/dsc-phase-1-project-v2-3/zippedData/tn.movie_budgets.csv.gz')
tn_df.head(26)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
22,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
23,24,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"
25,26,"Nov 14, 2008",Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"

In [70]:
# Pulling up rating info through imdb
rate_df = pd.read_csv ('/Users/natashawyatt/Documents/Flatiron_school/Phase_1/Phase_1_Project/dsc-phase-1-project-v2-3/zippedData/imdb.title.ratings.csv.gz')
rate_df.head()

       tconst  averagerating  numvotes
0  tt10356526           8.30        31
1  tt10384606           8.90       559
2   tt1042974           6.40        20
3   tt1043726           4.20     50352
4   tt1060240           6.50        21

In [48]:
rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [71]:
#Attempting to see if this column can be used for any good data
rate_df['tconst'].value_counts().head(10)

tt3476412    1
tt4445806    1
tt3884428    1
tt2004391    1
tt5115066    1
tt2294661    1
tt1813327    1
tt6931414    1
tt4515452    1
tt6749336    1
Name: tconst, dtype: int64

In [53]:
#Gathering basic movie info from imdb; title, year, run time, genre, etc
imdb_basics_df = pd.read_csv('/Users/natashawyatt/Documents/Flatiron_school/Phase_1/Phase_1_Project/dsc-phase-1-project-v2-3/zippedData/imdb.title.basics.csv.gz')
imdb_basics_df.head(26)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.00,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.00,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.00,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,nan,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.00,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.00,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,nan,"Horror,Thriller"
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.00,"Adventure,Animation,Comedy"
8,tt0139613,O Silêncio,O Silêncio,2012,nan,"Documentary,History"
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.00,Biography
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.00,Drama
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.00,History
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.00,Documentary
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.00,Drama
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.00,Documentary
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.00,"Animation,Drama,History"
16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,nan,NaN
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.00,Drama
18,tt0230212,The Final Journey,The Final Journey,2010,120.00,Drama
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.00,"Drama,Mystery"
20,tt0249516,Foodfight!,Foodfight!,2012,91.00,"Action,Animation,Comedy"
21,tt0250404,Godfather,Godfather,2012,nan,"Crime,Drama"
22,tt0253093,Gangavataran,Gangavataran,2018,134.00,NaN
23,tt0255820,Return to Babylon,Return to Babylon,2013,75.00,"Biography,Comedy,Drama"
24,tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.00,Documentary
25,tt0262759,Seven Jews from My Class,Siedmiu Zydów z mojej klasy,2018,40.00,Documentary

In [55]:
#Taking a look at the columns to see what can be used
imdb_basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [59]:
#Looking to see what genres are most popular
imdb_basics_df['genres'].value_counts()

Documentary                32185
Drama                      21486
Comedy                      9177
Horror                      4372
Comedy,Drama                3519
                           ...
Short,Thriller                 1
Animation,Family,Sport         1
Documentary,Horror,News        1
Animation,Crime,Mystery        1
Family,Fantasy,Mystery         1
Name: genres, Length: 1085, dtype: int64

In [72]:
imdb_basics_df['runtime_minutes'].describe()

count   114405.00
mean        86.19
std        166.36
min          1.00
25%         70.00
50%         87.00
75%         99.00
max      51420.00
Name: runtime_minutes, dtype: float64